<!-- <div class="box"> -->
<h1>Sign up!</h1>
<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 border tall">

				<%= form_for @user do |f| %>

					<h2>Name: <%= f.text_field :name, class: "form-control" %></h2>
					<h2>Email: <%= f.text_field :email, class: "form-control" %></h2>
					<h2>Password: <%= f.password_field :password, class: "form-control" %></h2>
					<%= f.submit "Sign up!", class: "btn btn-lg btn-primary" %>
				<% end %>
			<%= link_to "Take me to Sign in!", new_session_path, class: "btn btn-lg btn-warning" %>
			</div>
			<div class="col-md-4"></div>
</div>
<!-- </div> -->