<h1>Nosh on some bite-sized zen!</h1>
<br>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <h2><strong>Chef</strong> <%= @bites.first.chef %></h2>
			<h2><strong>Bite</strong> <%= @bites.first.bite %></h2>
    </div>
    <div class="item">
    	<h2><strong>Chef</strong> <%= @bites[1].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[1].bite %></h2>
		</div>
		 <div class="item">
    	<h2><strong>Chef</strong> <%= @bites[2].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[2].bite %></h2>
		</div>
		 <div class="item">
    	<h2><strong>Chef</strong> <%= @bites[3].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[3].bite %></h2>
		</div>
		 <div class="item">
    	<h2><strong>Chef</strong> <%= @bites[4].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[4].bite %></h2>
		</div>
		 <div class="item">
    	<h2><strong>Chef</strong> <%= @bites[5].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[5].bite %></h2>
		</div>
		 <div class="item">
    	<h2><strong>Chef</strong> <%= @bites[6].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[6].bite %></h2>
		</div>
		 <div class="item">
    	<h2><strong>Chef</strong> <%= @bites[7].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[7].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[8].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[8].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[9].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[9].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[10].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[10].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[11].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[11].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[12].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[12].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[13].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[13].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[14].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[14].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[15].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[15].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[16].chef %></h2>
    	<h2><strong>Bite</strong> <%= @bites[16].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[17].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[17].bite %></h2>
		</div>
<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[18].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[18].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[19].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[19].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[20].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[20].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[21].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[21].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[22].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[22].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[23].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[23].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[24].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[24].bite %></h2>
		</div>
		<div class="item">
    	<h2><strong>Chef</strong> <%= @bites[25].chef %></h2>
			<h2><strong>Bite</strong> <%= @bites[25].bite %></h2>
		</div>
			</div>
  </div>

  <br>
  <br>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<br>
<br>

<h2><%= link_to "Prepare a new bite!", new_bite_path %></h2>