<!DOCTYPE html>
<html>
<head>
  <title>BiteSiZen</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<%= yield %>
	</div>
<%= render partial: 'layouts/nav'%>
</body>
</html>
